 

.top-header {
	background-image: url('../images/minecraft.jpg');
	height:100px;
}


.top-header .center {
	background-image: url('../images/minecraft-title.jpg');
	background-repeat: no-repeat;
    height:100px;
 
    vertical-align: middle;
}

.body-contents {
    background-co;lor: gray;
    height:100%;
    max-width: 800px;

}